<!DOCTYPE html>
<html>
	<head>
		<title>{{ title }}</title>
		{% include 'html/icons.html' %}

		<link rel="stylesheet" href="css/bundle.css">
	</head>

	<body>
		{{ content | safe }}
	</body>
</html>
